table {
    border: 5px white solid;
    border-radius: 15px;
}

.table{
   width: fit-content; 
   margin: 10px;
}
.buttons button{
   margin-bottom: 5px;
   margin-right: 5px;
   
}

#row:hover {
    cursor: pointer;
}

.rowActive {
    background-color:rgb(14, 98, 234);
    border: 0px rgb(14, 98, 234) solid;
    border-radius: 10px;
    color: aliceblue;
}