@if (messages.length !== 0) {
<div class="table">
    <button mat-stroked-button>Crear</button>
    <table mat-table [dataSource]="messages" class="mat-elevation-z8">

        

        <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef>Mensaje</th>
            <td id="row"   mat-cell *matCellDef="let element" (click)="selectMessage(element)"> {{element.message}} </td>
        </ng-container>


        <tr  mat-header-row *matHeaderRowDef="['message']"></tr>
        <tr    mat-row *matRowDef="let row; columns: ['message'];"></tr>
    </table>
</div>
} @else {
    <p>No tienes permisos</p>
}