main {
  width: 100%;
}
.navMenu {
  width: 100%;
  background-color: aliceblue;
  padding: 10px;
}
.active {
  background-color: rgb(160, 252, 252);
  border-color: white;
}



nav * {
  margin-right: 5px;
}