<main>
<nav  class="navMenu">
  <button  
  mat-raised-button
  routerLink="/" 
  [ngStyle]="{'background-color': isActive('/') ? 'rgb(160, 252, 252)' : ''}"
  mat-raised-button
  ><mat-icon [ngStyle]="{'margin':'0'}">home</mat-icon></button>
  @if(auth.getPermised()){
  <button (click)="clickLogout()" mat-raised-button><mat-icon [ngStyle]="{'margin':'0'}">logout</mat-icon></button>
  } @else {
  <button  
  routerLink="/login" 
  [ngStyle]="{'background-color': isActive('/login') ? 'rgb(160, 252, 252)' : ''}"
  mat-raised-button ><mat-icon [ngStyle]="{'margin':'0'}">login</mat-icon></button>
  }
  <span [hidden]="!auth.getPermised()"><button [ngStyle]="{'background-color': isActive('/mensajes') ? 'rgb(160, 252, 252)' : ''}" [routerLink]="'mensajes'" mat-raised-button ><mat-icon [ngStyle]="{'margin':'0'}">chat</mat-icon></button></span>
</nav>
<router-outlet></router-outlet>
</main>