<section>
<form [formGroup]="data">
    <mat-form-field [style]="{width: '200px'}">
        <mat-label>Nombre</mat-label>
        <input formControlName="name"  matInput>
    </mat-form-field>
    <mat-form-field [style]="{width: '200px'}">
        <mat-label>Contraseña</mat-label>
        <input [type]="showPassword ? 'password' : 'text'" formControlName="password" matInput>
        <button
        mat-icon-button
        matSuffix
        (click)="setShowPassword()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="showPassword"
      >
        <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button [disabled]="sending" (click)="send($event)" mat-raised-button>Entrar</button>
    <p [style]="{color:message==='Correcto'?'green':'red'}">{{message}}</p>
</form>
</section>


